<h1>
  Show Post
</h1>

<br>

<h3>City: 
<%= @ad.city%>
</h3> <br>

<h3>Transmission: 
<%= @ad.transmission%>
</h3> <br>

<h3>Featured: 
<%= @ad.featured%>
</h3> <br>
<h3>Description: 
<%= @ad.description%>
</h3> <br>

<%= link_to 'Back' ,ads_path%>
