<div class="wrapper">
  <div  class=" mt-5 mb-5 container d-flex justify-content-center flex-column">
    <div class= "d-flex justify-content-center p-2">
      <h2>Post an Ad</h2>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class= "p-2 input-grp">
      <div>
        <% if @ad.errors.any? %>
                <%= render "shared/error_messages", resource: @ad %>
        <% end %>
      </div>
      <%= form_with(model: @ad, local: true, method: :put, url: wizard_path) do |f| %>
        <%= hidden_field_tag :ad_id, @ad.id %>
        <% if @ad.featured? %>
          <div>
            <p>This ad is Featured!</p>
          </div>
        <% else %>
          <div class="mb-3">
            <%= link_to "Feature your Ad", checkout_path(ad_id: @ad.id) , class: "btn btn-info btn-block text-light mt-4" %>
          </div>
        <% end %>
        <div class="mb-3">
          <%= f.label :secondary_contact , class: "form-label" %>
          <%= f.text_field :secondary_contact , class: "form-control", placeholder: "+92-3XX-XXXXXXX" %>
        </div>
        <div class="actions d-flex justify-content-center">
          <%= f.submit "Submit Post", class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <div>
        <%= link_to 'previous', previous_wizard_path(ad_id: @ad), class: "btn btn-secondary btn-sm btn-block mt-4" %>
      </div>
    </div>
  </div>
</div>
